html, body {
    height: 100%;
    background-color: wheat;
    color: wheat;
    margin: 0;
}

.corps {
    height: 100%;
    display: flex;
}

.partieGauche {
    display: flex;
    width: 100%;
    background: linear-gradient(135deg, rgb(5, 5, 5) 45%, rgb(200, 200, 200));
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.bloc {
    display: flex;
    color: wheat;
    height: 80%;
    width: 25%;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease-in;
    font-size: 0.6em;
}

.bloc:hover {
    transform: scale(1.15);
}

#portfolio {
    background: linear-gradient(rgb(206, 188, 152) 50%, rgb(245, 222, 179));
    color: black;
}

.droite {
    display: flex;
    height: 100%;
    width: 100%;
}

.partieDroite {
    display: flex;
    width: 100%;
    margin: 2.5em;
    margin-left: 0;
    background-color: black;
    box-shadow: 0em 0.5em 1em black;
    border: solid 2px wheat;
    border-left: none;
}

.partieDroite p {
    margin: 1em;
}

@media screen and (min-height: 800px) {
    html, body {
        font-size: 1.35em;
    }

    .corps {
        flex-direction: column;
    }

    .partieGauche {
        min-height: 10%;
    }

    .partieDroite {
        margin: 1.5em;
        margin-top: 0;
    }

    .bloc {
        min-height: 20%;
        min-width: 75%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}