html, body {
    height: 100%;
    background-color: wheat;
    margin: 0;
}

.corps {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titre {
    padding-bottom: 1em;
    color: wheat;
    text-decoration: underline;
}

div+div div a {
    color: black;
}

.bloc {
    display: flex;
    color: wheat;
    height: 5em;
    margin-top: 2em;
    margin-bottom: 5em;
    width: 80%;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease-in;
    font-size: 0.6em;
}

#portfolio {
    background: linear-gradient(rgb(245, 222, 179) 50%, rgb(245, 222, 179));
    color: black;
}

.experiences {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.exp {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.1em black;
    text-align: center;
    scroll-snap-align: center;
}

.devant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

#pong {
    background-image: url("../photo/Slide1.jpg");
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

#installation {
    background-image: url("../photo/Slide4.jpg");
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

#lowatem1 {
    background-image: url("../photo/Slide2.jpg");
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

#lowatem2 {
    background-image: url("../photo/Slide3.jpg");
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

#graveCie {
    background-image: url("../photo/Slide5.jpg");
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

img {
    margin-top: 2.5em;
    transform: scale(1.35);
    transition: 0.5s ease-in;
}

img:hover {
    transform: scale(1.5);
}

.retour {
    color: wheat;
    border: solid 1px wheat;
    background: linear-gradient(135deg, rgb(0, 0, 100), rgb(200, 200, 200), rgb(100, 0, 0));
    margin-bottom: 1em;
    transition: 0.25s ease-in;
    border-radius: 2px;
}

.retour:hover {
    color: wheat;
    text-decoration: none;
    transform: scale(1.15);
}

.navbar {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    border: solid 1px wheat;
    width: 100%;
    min-height: 12%;
    z-index: 1;
    text-align: center;
}

.btn {
    border: solid 1px lightblue;
}

.btn, .card {
    color: wheat;
    background-color: black;
}

.btn:hover, .card {
    color: black;
    background-color: wheat;
}

@media screen and (min-height: 1200px) {
    html, body {
        font-size: 1.35em;
    }

    .experiences {
        scroll-snap-type: none;
    }

    .exp {
        height: 50%;
    }

    img {
        margin-top: 2.5em;
        transform: scale(1);
    }

    img:hover {
        transform: scale(1.15);
    }

    .navbar {
        min-height: auto;
    }
}