html, body {
    margin: 1em;
    height: 94%;
    background-color: wheat;
    color: wheat;
}

h1 {
    margin : 0;
    text-align: center;
}

.corps {
    display: flex;
    background-color: black;
    height: 100%;
    box-shadow: 0.5em 0.5em 1em black;
}


.portfolio {
    display: flex;
    margin-left: 2em;
    margin-top: 1em;
}

.port {
    margin-right: 1em;
}

.folio {
    margin-top: 3.75em;
    margin-left: 1em;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.bloc {
    display: flex;
    color: wheat;
    min-height: 80%;
    min-width: 15%;
    justify-content: center;
    align-items: center;
    border: solid 2px wheat;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    transition: 0.25s ease-in;
    font-size: 0.6em;
}

.bloc:hover {
    transform: scale(1.15);
}

#aboutMe {
    background: linear-gradient(135deg, rgb(0, 0, 100) 25%, rgb(80, 80, 200));
}

#myWorks {
    background: linear-gradient(rgb(100, 100, 100) 25%, rgb(200, 200, 200));
}

#myContact {
    background: linear-gradient(-135deg, rgb(100, 0, 0) 25%, rgb(200, 50, 50));
}

a {
    text-decoration: none;
    color: wheat;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    justify-content: center;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: black;
    border: 1px solid wheat;
    width: 78%;
    height: 69%;
}

.modal-content h1 {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.modal-content p {
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

.modal-content a {
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

.close3 {
    margin-right: 0.25em;
    color: wheat;
    float: right;
    font-size: 2em;
    font-weight: bold;
}
  
.close3:hover,
.close3:focus {
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
}

.experiences {
    display: flex;
    justify-content: space-around;
}

.colonne1 {
    display: flex;
    flex-direction: column;
}

.colonne2 {
    display: flex;
    flex-direction: column;
}

.myName {
    display: flex;
    align-items: end;
}


@media screen and (min-height: 1200px) {
    html, body {
        margin: 0.7em;
        height: 99%;
        font-size: 1.35em;
    }

    .menu {
        flex-direction: column;
    }

    .bloc {
        min-height: 20%;
        min-width: 75%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .modal-content {
        margin-top: -6.3em;
        height: 100%;
        width: 100%;
    }
}