html, body {
    margin: 1em;
    height: 94%;
    background-color: wheat;
    color: wheat;
}

h1 {
    margin : 0;
    text-align: center;
}

.corps {
    display: flex;
    background-color: black;
    height: 100%;
    box-shadow: 0.5em 0.5em 1em black;
}


.portfolio {
    display: flex;
    margin-left: 2em;
    margin-top: 1em;
    flex: 1;
}

.port {
    margin-right: 1em;
}

.folio {
    margin-top: 3.75em;
    margin-left: 1em;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex: 15;
}

.bloc {
    display: flex;
    color: wheat;
    min-height: 80%;
    width: 15%;
    justify-content: center;
    align-items: center;
    border: solid 2px wheat;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    transition: 0.25s ease-in;
    font-size: 0.6em;
}

.cache {
    opacity: 0;
    display: none;
}

.bloc:hover {
    transform: scale(1.15);
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

img {
    margin-top: 1em;
    width: 90%;
    clip-path:ellipse(50% 50%);
}

#aboutMe {
    background: url("../photo/aboutMe.gif"), linear-gradient(135deg, rgb(0, 0, 100) 25%, rgb(80, 80, 200));
    background-repeat: no-repeat;
    background-position-x: center;
}

#aboutMe:hover {
    background: url("../photo/aboutMe.png"), linear-gradient(135deg, rgb(0, 0, 100) 25%, rgb(80, 80, 200));
    background-repeat: no-repeat;
    background-position-x: center;
}

#myWorks {
    background: linear-gradient(rgb(100, 100, 100) 25%, rgb(200, 200, 200));
}

#myContact {
    background-image:  url("../photo/myContact.gif"), linear-gradient(-135deg, rgb(100, 0, 0) 25%, rgb(200, 50, 50));
    background-repeat: no-repeat;
    background-position: center;
}

#myContact:hover {
    background-image: url("../photo/myContact.png"), linear-gradient(-135deg, rgb(100, 0, 0) 25%, rgb(200, 50, 50));
    background-repeat: no-repeat;
    background-position: center;
}

.slide h1 {
    position: absolute;
    flex-direction: column;
}

.slide:hover h1 {
    transform: translate(0, -30vh)
}

.slide h1 {
    transition: 0.25s ease-in;
}

.bloc:hover .cache {
    display: block;
    animation: fadein 0.5s ease-in;
    opacity: 1;
}

a {
    color: wheat;
}

h1+a:hover {
    color: darkgray;
}

.myName {
    display: flex;
    align-items: end;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (min-height: 1200px) {
    html, body {
        margin: 0.7em;
        height: 99%;
        font-size: 1.35em;
    }

    .menu {
        flex-direction: column;
    }

    .bloc {
        min-height: 20%;
        min-width: 75%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .slide:hover h1 {
        transform: translate(0, -7.5vh)
    }

    #aboutMe {
        background-position: center;
    }
    
    #aboutMe:hover {
        background-position: center;
    }
}